{% extends 'home/header.html' %}
<head>
    <title>Personal</title>
    {% load staticfiles %}
</head>
{% block content %}
{#    <div class="row">#}
{#        <div class="col-sm-offset-4 col-xs-4" style="background:blue;margin-top:10%;border-radius:10px;">#}
{##}
{#            <div class="col-sm-7 col-sm-offset-3" style = "margin-top:20px;margin-buttom-10px;">#}
{#                <div class="col-xs-12 col-md-11">#}
{#                    <img src = "{% static 'home/img/profile.jpg' %}" class="img-responsive img-circle" style="margin-buttom:20px;">#}
{#                </div>#}
{#                <div class="col-md-11">#}
{#                    <div class="caption">#}
{#                        <hr>#}
{#                        <h4 style="margin-top:30px;" align = "center">CHOUNRY OUN</h4>#}
{#                        <h4 style="margin-top:30px;"  align = "center"><small>WEB DEVELOPER</small></h4>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-12" style="margin-top:20px;">#}
{#                    <ul class="nav nav-pills">#}
{#                        <li role="presentation"><a href="#"><span class="fa fa-twitter-square" aria-hidden="true"></span></a></li>#}
{#                        <li role="presentation"><a href="#"><span class="fa fa-facebook-square" aria-hidden="true"></span></a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
